<app-nav/>
<div class="container text-center mt-4">
  <div class="row">
    <div class="col rounded-3">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title><p class="fw-bold">Vista de la suscripción {{subscription?.user?.name}}</p></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-start">
            Felicitaciones su plan es: {{subscription?.plan?.label}}
            <br/>
            @if(subscription?.period === 1) {
              Su Precio Mensual: ${{subscription?.plan?.monthlyPrice?.value}}
            } @else {
              Su Precio Anual: ${{subscription?.price?.value}}
            }
            <br/>
            Fecha de inicio: {{subscription?.startDate | date:"EEEE, d MMM y"}}
            <br/>
            Fecha de fin: {{subscription?.endDate | date:"EEEE, d MMM y"}}
            @if(existRefund){
              <br>
              Tiene un reembolso de: ${{subscription?.refund?.value}}
            }
          </p>
          @if(subscription?.nextSubscription){
            <div class="alert alert-info text-start" role="alert">
              En la próxima fecha {{subscription?.nextSubscription?.startDate | date:"EEEE, d MMM y"}} se inicia el nuevo plan <br>
              Plan: {{subscription?.nextSubscription?.plan?.label}} <br>
              Precio: {{subscription?.nextSubscription?.price?.value}} <br>
              Tiene un reembolso de: ${{subscription?.nextSubscription?.refund?.value}}
            </div>
          }
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button class="ms-2" [routerLink]="['/subscription/update']">Cambiar plan Suscripción</a>
          <button (click)="cancelSubscription()"  class="ms-2" mat-raised-button>Cancelar Suscripción</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
